:root{
    --cell-width : 13vh;
    --cell-height : var(--cell-width);
}

#Cells {
    display: grid;
    grid-template-columns: repeat(4, var(--cell-height));
    grid-template-rows: repeat(4, var(--cell-width));
}

#gameboard{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Cells {
    display: flex;
    width: var(--cell-width);
    height: var(--cell-height);
    border: 1px solid black;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

#ChooseNumber {
    display: grid;
    grid-template-columns: repeat(4, var(--cell-height));
    margin-top: 3%;
}

.chosenNumber {
    display: flex;
    width: var(--cell-width);
    height: var(--cell-height);
    border: 2px solid black;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

.CheckAnswerButton{
    display: flex;
    width: 150px;
    height: 2em;
    margin: 3%;
    border: 5px solid black;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    float:left;
}